* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  width: 100%;
  height: 130px;
  background-color: black;
}

.nazv {
  color: azure;
  text-align: center;
  font-family:"serif";
}

.polosa {
  width: 200px;
  height: 1px;
  background-color: azure;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.futbolki {
  color: azure;
  font-family:"serif";
  font-size: 20px;
  margin-left: 30px;
}

.hoodie {
  color: azure;
  font-family:"serif";
  margin-left: 30px;
  font-size: 20px;
}

.shtani {
  color: azure;
  font-family:"serif";
  margin-left: 30px;
  font-size: 20px;
}

.rybashki {
  color: azure;
  font-family:"serif";
  margin-left: 30px;
  font-size: 20px;
}

.polo {
  color: azure;
  font-family:"serif";
  margin-left: 30px;
  font-size: 20px;
}

.footer {
  background-color: black;
  width: 100%;
  height: 170px;
  margin-top: 10vh;
}

.corp {
  color: azure;
  margin-top: 10px;
}

.logo {
  height: 30px;
  width: 30px;
}

.logo2 {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.logos {
  margin-top: 10px;
}

.cards {
  display: flex;
}

.card {
  height: 500px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 150px;
}

.podpis {
  height: 40px;
  width: 400px;
  border: 1px solid black;
  border-radius: 100px;
  margin-left: 150px;
  margin-top: 20px;
  text-align: center;
}